{%extends 'manage/base.html'%}

{%block content%}
<div class="mws-panel grid_8">
                	<div class="mws-panel-header">
                    	<span class="mws-i-24 i-table-1">工艺管理</span>
                    </div>
                    <div class="mws-panel-body">
                        <form id="mws-validate" class="mws-form" action="{{url_for('ma_techniqueinfo_searchinfo')}}" method="post">
                        	<div id="mws-validate-error" class="mws-form-message error" style="display:none;"></div>
                        	<div class="mws-form-inline">
                            	<div class="mws-form-row">
                                	<label>产品编号</label>
                                	<div class="mws-form-item ">
                                    	<input type="text" name="productId" class="mws-textinput" value="{{formModel.workpieceId}}" />
                                    </div>
                                </div>
                                <div class="mws-form-row">
                                	<label>工艺ID</label>
                                	<div class="mws-form-item ">
                                    	<input type="text" name="techId" class="mws-textinput" value="{{formModel.techId}}"/>
                                    </div>
                                </div>
                            	<div class="mws-form-row">
                    				<label>设备ID</label>
                    				<div class="mws-form-item large">
                    					<select name="devId">
                    						<option
                                                    {%if not formModel.devId %}
                                                    selected="selected"
                                                    {%endif%} value=""
                                            >All</option>
                    						{% for id,info in config['DEVICES'].items()%}
                                            <option value="{{id}}"
                                                    {%if id == formModel.devId %}
                                                    selected="selected"
                                                    {%endif%}>Device {{id}}</option>
                                            {%endfor%}
                    					</select>
                    				</div>
                    			</div>

                            </div>
                            <div class="mws-button-row">
                            	<input type="submit" class="mws-button red" value="开始查询"/>
                            </div>
                        </form>
                        <h1>查询结果</h1>
                        <table class="mws-datatable-fn mws-table">
                            <thead>
                                <tr>
                                    <th>工件ID</th>
                                    <th>工艺ID</th>
                                    <th>设备ID</th>
                                </tr>
                            </thead>
                            <tbody>
                            {%for info in formModel.getSearchResults()%}
                                <tr class="gradeA">
                                    <td>{{info.workpieceId}}</td>
                                    <td>{{info.devId}}</td>
                                    <td>{{info.techId}}</td>
                                    <td>{{info.status}}</td>
                                    <td>{{info.processEval}}</td>
                                    <td>{{info.resultEval}}</td>
                                    <td>{{info.desc}}</td>
                                </tr>
                            {%endfor %}
                            </tbody>
                        </table>
                    </div>
</div>

{%endblock%}